  <div class="container-fluid p-0  mb-0 overflow-hidden">
    <div class="d-flex flex-wrap flex-container text-white mt-0">
      <div class="col">
        <h2 class="text-white fw-bold mt-4">Shortly</h2>
      </div>
      <div class="col">
        <h4 >Features</h4>
        <ul class="text-white list-unstyled text-decoration-none">
          <li><a class="link-light text-decoration-none" href="#">Link Sharing</a></li>
          <li><a class="link-light text-decoration-none" href="#">Branded Links</a></li>
          <li><a class="link-light text-decoration-none" href="#">Analytics</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 >Resources</h4>
        <ul class="text-white list-unstyled text-decoration-none">
          <li><a class="link-light text-decoration-none" href="#">Blog</a></li>
          <li><a class="link-light text-decoration-none" href="#">Developers</a></li>
          <li><a class="link-light text-decoration-none" href="#">Support</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 >Company</h4>
        <ul class="text-white list-unstyled">
          <li><a class="link-light text-decoration-none" href="#">About</a></li>
          <li><a class="link-light text-decoration-none" href="#">Our Team</a></li>
          <li><a class="link-light text-decoration-none" href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="d-flex icons-container">
          <img src="assets/resources/images/icon-facebook.svg" class="d-block " alt="illustration_icon">
          <img src="assets/resources/images/icon-twitter.svg" class="d-block " alt="illustration_icon">
          <img src="assets/resources/images/icon-pinterest.svg" class="d-block " alt="illustration_icon">
          <img src="assets/resources/images/icon-instagram.svg" class="d-block " alt="illustration_icon">
        </div>
      </div>
    </div>
  </div>

