<div class="container mt-5">
  <div class="rounded-3 p-md-5 p-4 figure-img text-center text-md-start">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-10 col-12 form-group text-danger">
          <input type="url" class="form-control" formControlName="url"
                 [ngClass]="{ 'is-invalid': submitted && f['url'].errors }"
                 placeholder="Shorten a link here..."
          >
          <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
            <div *ngIf="f['url'].errors['required']">Please add a link</div>
          </div>
        </div>
        <div class="col-md-2 col-12 mt-3 mt-md-0">
          <button type="submit" class="btn text-white col-12"> Shorten it! </button>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex card flex-row justify-content-between" *ngFor="let  url of urls">
    <div class="m-3">
      <span>{{url.result.full_short_link}}</span>
    </div>
    <div class="main-div d-flex">
      <div class="m-3 text-info">
        <span>{{url.result.short_link}}</span>
      </div>
      <div class="m-3 float-end">
        <button type="button" class="btn btn-info text-white">Copy</button>
      </div>
    </div>
  </div>
</div>
