*{
  font-size: 18px;
}
button{
  background-color: hsl(180, 66%, 49%);
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width: 475px) {
  .flex-container {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
}

.features {
  background-color: hsl(0, 0%, 90%);
}
