<div class="container">
    <div class="flex-container text-center text-md-start mt-5">
      <div class="ms-3">
        <h1 class=" main-text">
          More than just shorter links
        </h1>
        <p class="fs-5 text-secondary">Build your brand's recognition and get detailed insights on how your links
          are performing</p>
        <br/>
        <button type="button" class="btn mt-4 text-white gs-btn" style="">Get
          Started</button>
      </div>
      <div>
        <img src="assets/resources/images/illustration-working.svg" class="img-fluid" alt="illustration_icon">
      </div>
  </div>
</div>
<section class="container-fluid features mt-5 pt-5">
  <div class="mb-5 url-div">
    <app-url-form></app-url-form>
  </div>
  <div>
    <app-features></app-features>
  </div>
</section>

