<div class="container-fluid">
  <div class="container">
    <div class="row align-items-start">
      <div class="col pt-5 mt-5" style="width: 50%">
        <p class="fw-bold fs-1">
          More than just
          <br/>
          shorter links
        </p>
        <br>
        <span class="fs-5 text-secondary">Build your brand's recognition and get detailed insights on how your links are
        performing</span>
        <br/>
        <button type="button" class="btn  mt-4" style="border-radius: 5rem; padding: 0.6rem; width: 10rem">Get
          Started</button>
      </div>
      <div class="col ms-4" style="width: 50%">
        <img src="assets/resources/images/illustration-working.svg" class="d-block " alt="illustration_icon">
      </div>
    </div>
  </div>
</div>
