*{
  font-size: 18px;
}
button{
  background-color: hsl(180, 66%, 49%);
}
button:hover{
  background: hsl(180, 72%, 77%);
  opacity: 5;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.gs-btn{
  border-radius: 5rem;
  width: 10rem
}

.container{
  margin-bottom: 8rem
}
.url-div{
  margin-top: -10rem
}

@media screen and (max-width: 475px) {
  .flex-container {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
}

.features {
  background-color: hsl(0, 0%, 90%);
}
.main-text{
  font-size: 85px;
  font-family: poppins;
  font-weight: 800;
}
