<div class="container">
    <div class="flex-container text-center text-md-start">
      <div>
        <p class="fw-bold fs-1">
          More than just
          <br/>
          shorter links
        </p>
        <br>
        <span class="fs-5 text-secondary">Build your brand's recognition and get detailed insights on how your links are
        performing</span>
        <br/>
        <button type="button" class="btn  mt-4 text-white" style="border-radius: 5rem; width: 10rem">Get
          Started</button>
      </div>
      <div>
        <img src="assets/resources/images/illustration-working.svg" class="img-fluid" alt="illustration_icon">
      </div>
  </div>
</div>
<section class="container-fluid features mt-5 pt-5">
  <div class="mb-5">
    <app-url-form></app-url-form>
  </div>
  <div>
    <app-features></app-features>
  </div>
</section>

