<div class="text-center p-5">
  <h2>Advanced Statistics</h2>
  <span class="text-muted pt-54">Track how your links are performing across the web with <br> our advanced statistics
    dashboard</span>
</div>


<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col col-3">
      <span class="card-icon">
        <img src="assets/resources/images/icon-brand-recognition.svg"
             alt="illustration_icon" style="background-color: hsl(260, 8%, 14%); padding: 5px; border-radius: 2.5rem">
      </span>
      <div class="card p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Brand Recognition</h3>
          <p class="text-muted">
            Boost your brand recognition with
            <br>each click. Generic links don't mean a<br>
            thing. Branded links help instil<br/> confidence in your contant.
          </p>
        </div>
      </div>
    </div>
    <div class=" col-1 blue-rectangle p-1" style="width:3rem;height: 0.1rem;background-color: hsl(180, 66%, 49%);">
    </div>
    <div class="col col-3 pt-4">
      <span class="card-icon">
        <img src="assets/resources/images/icon-detailed-records.svg" class=" "
             alt="illustration_icon" style="background-color: hsl(260, 8%, 14%); padding: 5px; border-radius: 5rem">
      </span>
      <div class="card p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Detailed Records</h3>
          <p class="text-muted">
            Gain insights into who is clicking your <br/> links. Knowing when
            and were <br/>people engage with your content<br/> helps inform better decisions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1 blue-rectangle p-1" style="width:3rem;height: 0.1rem;background-color: hsl(180, 66%, 49%);">
    </div>
    <div class="col col-3 pt-5">
      <span class="card-icon">
        <img src="assets/resources/images/icon-fully-customizable.svg" class=" "
             alt="illustration_icon" style="background-color: hsl(260, 8%, 14%); padding: 5px; border-radius: 5rem">
      </span>
      <div class="card p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Fully Customizable</h3>
          <p class="text-muted">
            Improve brand awareness and<br> content
            discoverability through <br>customizable links,
            <br>supercharging audience engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
