<div class="text-center p-5" xmlns:heigth="http://www.w3.org/1999/xhtml">
  <h2>Advanced Statistics</h2>
  <span class="text-muted pt-54">Track how your links are performing across the web with <br> our advanced statistics
    dashboard</span>
</div>
<div class="container">
  <div class="d-flex container-features justify-content-center">
    <div class="card card-1">
      <span class="card-icon">
        <img src="assets/resources/images/icon-brand-recognition.svg" class="card-img-1"
             alt="illustration_icon" >
      </span>
      <div class="p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Brand Recognition</h3>
          <p class="text-muted">
            Boost your brand recognition with
            <br>each click. Generic links don't mean a<br>
            thing. Branded links help instil<br/> confidence in your contant.
          </p>
        </div>
      </div>
    </div>
    <div class="blue-rectangle  rectangle-1">
    </div>
    <div class="card card-2">
      <span class="card-icon">
        <img src="assets/resources/images/icon-detailed-records.svg" class="card-img-1"
             alt="illustration_icon"  height="58">
      </span>
      <div class="p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Detailed Records</h3>
          <p class="text-muted">
            Gain insights into who is clicking your <br/> links. Knowing when
            and were <br/>people engage with your content<br/> helps inform better decisions.
          </p>
        </div>
      </div>
    </div>
    <div class="blue-rectangle p-1 rectangle-1"></div>
    <div class="card card-3">
      <span class="card-icon">
        <img src="assets/resources/images/icon-fully-customizable.svg" class="card-img-1"
             alt="illustration_icon">
      </span>
      <div class="p-4">
        <div class="card-body">
          <h3 class="fw-bold fs-5">Fully Customizable</h3>
          <p class="text-muted">
            Improve brand awareness and<br> content
            discoverability through <br>customizable links,
            <br>supercharging audience engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
